<h1 class="text-2xl font-medium">Edit Quote</h1>

<form method="POST" action="/quotes/<%= quote.id %>" class="py-3">
    <input name="author" class="border p-2 w-full mb-4 rounded" value="<%= quote.author %>" />
    <textarea rows="10" name="quote" placeholder="Quote" class="border p-2 w-full mb-4 rounded" required><%= quote.quote %></textarea>
    <button class="bg-black text-white px-4 py-2 rounded">Update</button>
</form>

